
html{
  height: 100%;
}
body{
  background: url(https://i.ytimg.com/vi/MAjXiyKPBu8/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 10px 0 10px;
}
li:nth-child(2n){
  background: #f7f7f7;
}
li:hover{
  cursor: pointer;
}
.form {
  display: flex;
  padding: 0 10px 0 10px;
}
.form input[type=text]{
  flex: 1;
  padding: 12px 20px;
  margin: 10px  10px 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}
.form input[type=submit] {
  flex: 0;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.done-btn {
  transform: scale(2);
}

.delete-btn {
  background-color: #d13b00;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
}

.container{
  margin: 250px auto;
  width: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  background: #F5F5F5;

}
.completed{
  text-decoration: line-through;
  color: grey;
}
li.over {
  border: 1px dashed grey;
}
